<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/bootstrap/font-awesome.min.css">
<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/izimodal/css/iziToast.min.css">

<script src="http://hr.schoenherr.eu/SiteAssets/js/vendor/jquery-2.2.4.min.js" ></script>
<script type="text/javascript" src="http://hr.schoenherr.eu/SiteAssets/js/vendor/izimodal/js/iziToast.min.js"></script>

<script>

var Init = function(){
    $("#s4-ribbonrow").hide();
    
}
   
Init()

</script>