<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/bootstrap/font-awesome.min.css">

<script src="http://hr.schoenherr.eu/SiteAssets/js/vendor/jquery-2.2.4.min.js" ></script>

<script type="text/javascript">


 //wf_permissions
 getPermissionLevel = function(listName, oData) {
    var deferred = $.Deferred();

    var siteurl = _spPageContextInfo.webAbsoluteUrl;
    $.ajax({
     url: siteurl + "/_api/web/lists/getbytitle('" + listName + "')/items?" + oData,
     method: "GET",
     headers: {
      "Accept": "application/json; odata=verbose"
     },
     success: function(data) {
         console.log(data.d.results)
        deferred.resolve(data.d.results);    
     },
     error: function(data) {
        deferred.reject(data);      
     }
    });

    return deferred.promise();
   }

 
  //current user info
  function getUser(){

        var deferred = $.Deferred();

        var siteurl = _spPageContextInfo.webAbsoluteUrl;
        $.ajax({
        url: siteurl + "/_api/web/currentuser",
        method: "GET",
        headers: {
        "Accept": "application/json; odata=verbose"
        },
        success: function(data) {
            //console.log(data.d)
            deferred.resolve(data.d);    
        },
        error: function(data) {
            deferred.resolve(data);      
        }
        });

        return deferred.promise();

  }

  function hasRibbonPerm(){

        var deferred = $.Deferred();

        var hasRibbon = false;

        getUser().done(function(user){
            console.log(user)
            var userId = user.Id;

            getPermissionLevel('wf_permissions').done(function(listData){
                $.each(listData, function(index, elem){
                    console.log(elem)
                    if(elem.UserId == userId && elem.Permission == 'Central HR'){
                        hasRibbon = true;
                    }
                })

                console.log(hasRibbon)
                deferred.resolve(hasRibbon)
            })
        })

        return deferred.promise();
  }



 //excution
 hasRibbonPerm().done(function(hasRibbon){
    if(hasRibbon == true){
        $("#s4-ribbonrow").show();
    }
 })


  </script>