
<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/bootstrap/font-awesome.min.css">
<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/izimodal/css/iziToast.min.css">

<script src="http://hr.schoenherr.eu/SiteAssets/js/vendor/jquery-2.2.4.min.js" ></script>
<script type="text/javascript" src="http://hr.schoenherr.eu/SiteAssets/js/vendor/izimodal/js/iziToast.min.js"></script>

<style>

/* button formatting for workflow task on EEC homepage */
a.button {     
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;    
    width: 160px;
    padding: 2px;
    background-color: #0072c6;
    color: white !important;
    display: block;
    white-space: nowrap;
}

.exportButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: white !important;
    background-color: #0072c6;
    padding: 1px;
    float:right;
    position: relative;
    
}
</style>

<script>

/*
   <li>​​<span id="eec-open-entry-request"></span></li>
   <li>​​<span id="eec-open-change-request">​</span></li>
   <li>​​​<span id="eec-open-exit-request"></span></li>
*/


    var sch = window.sch || {};
    sch.eec  = sch.eec || {};

    sch.eec  = (function(){

        var Init = function(){
            // console.log("called init")
            _CreateRequestLinks();
            WorkflowTasksButtons();
            hideWorkflowTaskColumn();
            RequestOverviewModal();
            addExtractButton();
        }


        var _CreateRequestLinks = function(){

            var entryTitle = "Entry Request Submission";
            var entryUrl = "/Lists/Entry Profil/Item/newifs.aspx?isDlg=1"        
            $("#eec-open-entry-request").replaceWith("<a href='#' onclick='sch.eec.openModalRequestLink(\""+entryTitle+"\",\""+entryUrl+"\")'>Submit Entry Request</a>");

            var changeTitle = "Change Request Submission";
            var changeUrl = "/Lists/Change Request/Item/newifs.aspx?isDlg=1"
            $("#eec-open-change-request").replaceWith("<a href='#' onclick='sch.eec.openModalRequestLink(\""+changeTitle+"\",\""+changeUrl+"\")'>Submit Change Request</a>");

            var exitTitle = "Exit Request Submission";
            var exitUrl = "/Lists/Exit Request/Item/newifs.aspx?isDlg=1"
            $("#eec-open-exit-request").replaceWith("<a href='#' onclick='sch.eec.openModalRequestLink(\""+exitTitle+"\",\""+exitUrl+"\")'>Submit Exit Request</a>");
        }


        var OpenModalRequestLink = function(title_arg, url_arg, width, height){


            var options = SP.UI.$create_DialogOptions();

            options.title = title_arg;
            options.url = url_arg;
            options.dialogReturnValueCallback = sch.eec.refreshOnClose;


            if(width > 0){
                options.width = width; 
            }

            if(height > 0){
                options.height = height; 
            }

            if(width <= 0 && height <= 0){
                options.autoSize = true;
            }


            SP.UI.ModalDialog.showModalDialog(options);

        }

        //open modal windows - Request Overview   
        var RequestOverviewModal = function(){
            var ahrefs = $(".ms-rte-layoutszone-outer").find('ul').find('a')
            
          $.each(ahrefs, function(index, value){
              
              if ($(value).text() == "Entry Request List" || $(value).text() == "Change Request List" || $(value).text() == "Exit Request List") {
                
                var modalHeaderName = "";
                var origHref = $(value).attr('href')
                $(value).attr('href','#')


                if($(value).text() == "Entry Request List" ){modalHeaderName = 'Entry Request List'}
                if($(value).text() == "Change Request List" ){modalHeaderName = 'Change Request List'}
                if($(value).text() == "Exit Request List" ){modalHeaderName = 'Exit Request List'}

                $(value).attr('onclick','sch.eec.openModalRequestLink("'+modalHeaderName+'","'+origHref+'",0,900)')
                $(value).attr('onclick','sch.eec.openModalRequestLink("'+modalHeaderName+'","'+origHref+'",0,900)')
                $(value).attr('onclick','sch.eec.openModalRequestLink("'+modalHeaderName+'","'+origHref+'",0,900)')  
              }

          })

        }


        var WorkflowTasksButtons = function(){

                var table=$("#__gvctl00_ctl33_g_2e74db0a_2ffe_4feb_a6fe_363416d96593_ctl02__div").find('table')
                
                var tbody = $(table).find('tbody')

                // var th = $(tbody).find('.ms-viewheadertr').find('th')

                // var tr = $(tbody).find('tr')

                var cells = $(tbody).find('.ms-vb2').find('a')

                // $.each(th, function(index, table){
                //     //tr-class: ms-viewheadertr ms-vhltr
                //     // if(index == 3){
                //     //     $(th).hide();
                //     // }
                //     console.log('hi')
                //     //$('th:nth-child(3)').hide();
                //     $('th:nth-child(2)').hide();
                    
                // })

                // $.each(tr, function(index, table){
                //     console.log('cau')
                //     //$('td:nth-child(3)').hide();
                //     //$('td:nth-child(2)').hide();
                    
                // })

                $.each(cells, function(index, cell){

                    
                    var cell = $(cell);

                    // console.log(index)
                    // console.log(cell.text())
                    var cell_text = cell.text()
                    
                    //take href value
                    var cell_href = $(cell).attr('href');

                    //check if it is # - if yes, it has ran before
                    if(cell_href == "#"){
                        cell_href = $(cell).attr('data-url');
                    }else{
                        //here, it is a first running, so make new attribute where the initial href is saved
                        cell.attr('data-url', cell_href)
                        cell.attr('href','#')
                    }

                    var modal_width = 0;
                    var modal_height = 0;
                    if (index % 2 != 0){ modal_width = 1500; }
                    if (index % 2 != 0){ modal_height = 900; }

                    //rename text
                    if(cell_text == 'Entry Task' || cell_text == 'Change Task' || cell_text == 'Exit Task'){
                        cell.text("View Detail")
                        cell.attr('onclick', 'sch.eec.openModalRequestLink("Task detail","'+cell_href+'",'+modal_width+','+modal_height+')')
                    }else{

                        if(cell_text != "View Detail" ){
                            //cell.text("Complete Task")  
                            cell.addClass("button")
                            cell.attr('onclick', 'sch.eec.openModalRequestLink("Complete Task","'+cell_href+'",'+modal_width+','+modal_height+')') 
                        }        
                    }

                })

        }

        var hideWorkflowTaskColumn = function(){
            var table=$("#__gvctl00_ctl33_g_2e74db0a_2ffe_4feb_a6fe_363416d96593_ctl02__div").find('table').find('td')
            //hide second td element of the table
            var counter = 0;
            $.each(table, function(index, column){
                counter++;  
                if(counter == 2)$(column).hide();
                if(counter == 5)counter = 0;
                
            })

            var table=$("#__gvctl00_ctl33_g_2e74db0a_2ffe_4feb_a6fe_363416d96593_ctl02__div").find('table').find('th')
            //hide second th element of the header
            var counter = 0;
            $.each(table, function(index, column){
                counter++;  
                console.log(index)
                
                if(counter == 2){
                    $(column).hide();
                }
})
            
        }

        var RefreshOnClose = function(result, returnValue){
            
            //user completed task, modal was closed on completed, 10s delay
            if(result == 1){
                    iziToast.success({
                        timeout: 10000,
                        title: 'Task being completed',
                        message: 'Please wait',
                        position: 'center',
                        overlay: true,
                        onClosing: function () {
                            location.reload()
                        }
                    });
            }
          
            
            // console.log("running")
        }

        //replace url for lists with additional requests list export button (that is linked with the excel sheets in site content-extract requests lists)
        var addExtractButton = function(){
            $("#WebPartTitleWPQ2").replaceWith("\
                <a accesskey='W' href='http://hr.schoenherr.eu/Lists/Entry%20Profil/AllItems.aspx'>Entry</a>\
                <a class=exportButton href='http://hr.schoenherr.eu/Extract%20Request%20Lists/EntryRequests-extractList.xlsx'>Export Entry List</a>")
            
            $("#WebPartTitleWPQ4").replaceWith("\
                <a accesskey='W' href='http://hr.schoenherr.eu/Lists/Change%20Request/AllItems.aspx'>Change</a>\
                <a class=exportButton href='http://hr.schoenherr.eu/Extract%20Request%20Lists/ChangeRequests-extractList.xlsx'>Export Change List</a>")

            $("#WebPartTitleWPQ3").replaceWith("\
                <a accesskey='W' href='http://hr.schoenherr.eu/Lists/Exit%20Request/AllItems.aspx'>Exit</a>\
                <a class=exportButton href='http://hr.schoenherr.eu/Extract%20Request%20Lists/ExitRequests-extractList.xlsx'>Export Exit List</a>")
            // $("#exportButton").addClass("button")

        }
        
        return{
            init:Init,
            openModalRequestLink:OpenModalRequestLink,
            workflowTasksButtons:WorkflowTasksButtons,
            hideWorkflowTaskColumn:hideWorkflowTaskColumn,
            refreshOnClose: RefreshOnClose,
            addExtractButton:addExtractButton
        }

    })();




    $(document).ready(function(){

        ExecuteOrDelayUntilScriptLoaded(function(){

            var inDesignMode = document.forms[MSOWebPartPageFormName].MSOLayout_InDesignMode.value;
            var wikiInEditMode = document.forms[MSOWebPartPageFormName]._wikiPageMode.value;

            //we are NOT in edit mode, to prevent any changes while the edit page is on
            if (wikiInEditMode != "Edit")
            {
                sch.eec.init();
            }


            //sch.eec.init()
        }, "sp.js");
    
    })

</script>
