
<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/bootstrap/font-awesome.min.css">
<link rel="stylesheet" href="http://hr.schoenherr.eu/SiteAssets/js/vendor/izimodal/css/iziToast.min.css">

<script src="http://hr.schoenherr.eu/SiteAssets/js/vendor/jquery-2.2.4.min.js" ></script>
<script type="text/javascript" src="http://hr.schoenherr.eu/SiteAssets/js/vendor/izimodal/js/iziToast.min.js"></script>

<script>

var sch = window.sch || {};
    sch.eec  = sch.eec || {};
    sch.eec.form  = sch.eec.form || {};

    sch.eec.form  = (function(){


        var Init = function(hideRibbon){

            var hide = _GetUrlArg(hideRibbon);

            if(hide == 1){
                $("#s4-ribbonrow").remove();
                $("MSOZoneCell_WebPartWPQ3").remove();
                }
        }
    
        var _GetUrlArg = function(variable)
        {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
            }
            return(false);
        }

        return{
            init:Init,
            
        }

    })();



    $(document).ready(function(){
        sch.eec.form.init('hideRibbon');
    })


</script>
